@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-col ul{
    list-style: none;
}
.footer{
    backdrop-filter: blur(40px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    -webkit-backdrop-filter: blur(40px);
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    padding: 50px 0;
    font-family: "montserrat",sans-serif;
    line-height: 1.5;
    max-height: calc(100vh - 60px);
    overflow-x: auto;
    width:1315px;
    margin-left: 110px;
    margin-right : -95px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.footer .row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 16px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform:capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
    color: #242622;
    background-color: #ffffff;
}
@media(max-width:767px){
    .footer-col .social-links{
        width:50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width:100%;
    }
}
